/**********************Form Sections*************************/
div.row {
  clear: both;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
  }

div.row span.label {
  float: left;
  width: 150px;
  text-align: right;
  }

div.row span.formw {
  float: right;
 width: 350px;
  text-align: left;
  }
  
div.row span.spacer{
	clear:both;
}

div.row1 {
  clear: both;
  padding-top: 5px;
  padding-bottom:10px;
  background-color: #FFFAFA;
  }

div.row1 span.label {
font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
 color: #3670A7;
 background-color: transparent;
 width: 220px;
  }

div.row1 span.formw {
  float: right;
  width: 350px;
  text-align: left;
  }

div.row1 span.spacer{
	clear:both;
}
div.get_Attention{
	color: #8B0000;
}

.application_section_header{
	border-bottom: 1px dashed Gray;
	text-transform: uppercase;
	letter-spacing: 5px;
	width:612px;
	text-align:center;
	

	}
.page-break{
}

div.button{
	text-align: right;
}
