P  {
	font-family : sans-serif;
	font-weight : normal;
	font-style : normal;
	color : Black;
}

BODY {
	margin : 0px 0 0 0;
	margin-bottom : 0;
	background-color : #CACED8;
	font-family : Arial, Helvetica, sans-serif;
}

 .cap{ 
 	text-transform: uppercase;
  }
  
  .u{
	text-decoration : underline;
}

.page-title{
	font-size:20;
	color: white;
	font-style:normal;
	font-family: Arial;
	text-align : center;
}
 .white{
	color: white;
	font-size : x-small;
}
  
  .sub-title{ 
  		font-size:16;
		color: white;
		font-style:normal;
		font-family: Arial;
		font-style: italic;
   }
   .white_menu{
	color : White;
	
}

.menu{ 
	font-size:small;
 }