<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="cfm to php redirect" stopProcessing="true">
    <match url="(.*)\.php$" />
    <conditions>
        <add input="{URL}" pattern="viewStudents\.php$" ignoreCase="true" negate="true" /> 
    </conditions>
    <action type="Redirect" url="/{R:1}.cfm" appendQueryString="true" redirectType="Permanent" />
</rule>

<rule name="cfm to php Rewrite" patternSyntax="Wildcard">
    <match url="*.cfm*" />
    <action type="Rewrite" url="{R:1}.php{R:2}" />
</rule> 
</rules>
</rewrite>
</system.webServer>
</configuration>










