@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	padding:0px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:11px; /* 0.8em */
}

/***********************************************************************************

Page Header

************************************************************************************/
.topBar {
	background-color: #c2d9e9;
	border-bottom:10px solid #0069aa;
	width:100%;
	height:70px;
}

.topLeft {
	float:left;
	height:65px;
	/* border:1px solid #FFC; */
}

.topLeft .mainLogo {
	background-image:url(../../images/onlineApp/logoSmall.gif);
	background-repeat:no-repeat;
	width: 60px;
	height:60px;
	float:left;
	margin:5px 0px 0px 10px;
	display:block;
}

.topLeft a {
	text-decoration:none;	
}

.topLeft .title {
	margin:5px 0px 0px 80px;
	display:block;
	font-family: segoe ui, Arial, sans-serif; 
	font-weight:bold;
	font-size: 2em; 
	color:#0069aa;
}

.topLeft .subTitle {
	margin:2px 0px 0px 80px;
	display:block;
	font-family: segoe ui, Arial, sans-serif; 
	font-weight:bold;
	font-size: 1.2em; /*1.8em; */
	color:#0069aa;
}

.topRight {
	float:right;
	height:35px;
	margin:10px 15px 0px 0px;
	/* border:1px solid #FFC; */
}

.topRight a {
	width:80px;	
	padding:5px;
	margin:5px 5px 0px 5px;
	float:left;
	text-align:center;
	text-decoration:none;
	font-family: segoe ui, Arial, sans-serif; 
	font-size:1.1em;
	font-weight:bold;
	color: #ffffff; 
	outline: none;	
	background: #1484e6 url(../../images/onlineApp/buttonBlue.png) 50% 50% repeat; 	
}

.topRight a:hover {
	outline: none;
	background: #e69700 url(../../images/onlineApp/buttonOrange.png) 50% 50% repeat; 	
}

.topRight a.selected {
	outline: none;
	background: #e69700 url(../../images/onlineApp/buttonOrange.png) 50% 50% repeat; 	
}

.welcomeMessage {
	margin-top:40px;
	padding:5px 5px 0px 0px;
	font-family: segoe ui, Arial, sans-serif; 
	font-size:1em;
	font-weight:bold;
	color: #0069aa; 
	text-align:right;
}

/***********************************************************************************

Left Side / Right Side Content

************************************************************************************/
.leftSideBar {
	/* position:absolute; */
	float:left;
	width:18%;
	min-height:600px;
	background-color:#eeeeee;
	border:1px solid #aaaaaa;
	margin:10px 0px 0px 10px;	
}

.rightSideContent {
	float:right;
	width:79%;
	min-height:600px;
	background-color:#eeeeee;
	border:1px solid #aaaaaa;
	margin:10px 15px 10px 0px;		
}

.leftSideBar .insideBar,
.rightSideContent .insideBar {
	min-height:535px;
	background-color:#FFFFFF;
	margin:20px;
	padding:1px 10px 20px 5px;
}

.leftSideBar .insideBar a,
.rightSideContent .insideBar a {
	background: url(../../images/onlineApp/rightArrow.gif) no-repeat; 
	display:block;
	font-family: segoe ui, Arial, sans-serif; 
	font-size:1.2em;
	font-weight:bold;
	color: #0069aa;
	padding:0px 5px 0px 20px;
	margin:20px 0px 5px 10px;
	text-decoration:none;
}

.leftSideBar .insideBar a:hover,
.rightSideContent .insideBar a:hover{
	color:#e69700;	
	outline: none;
}

/***********************************************************************************

Online Application

************************************************************************************/

.wrapApplication {
	width:79%;	
	float:right;
	margin:10px 15px 10px 0px;
	/* border:1px solid #CCC; */
}

.tableBody {
	width:100%;
	margin-top:15px;
}

.tableBody .fieldTitle {
	font-size:1.2em;
	font-weight:bold;
	margin-bottom:0px;
	padding-bottom:0px;
}

.largeField {
	font-size:1.2em;
	border : 1px solid #999;
	width : 300px;
}

.mediumField {
	font-size:1.2em;
	border : 1px solid #999;
	width:200px;
}

.smallField {
	font-size:1.2em;
	border : 1px solid #999;
	width:100px;
}

.xSmallField {
	font-size:1.2em;
	border : 1px solid #999;
	width:60px;
}

.xxSmallField {
	font-size:1.2em;
	border : 1px solid #999;
	width:45px;
}

.largeTextField {
	font-size:1.2em;
	border : 1px solid #999;
	width:400px;
	height:150px;
}

.xlTextField {
	font-size:1.2em;
	border : 1px solid #999;
	width:600px;
	height:400px;
}

.documentList {
	width:96%;
	margin:10px 0px 20px 0px;
}

.documentProperties {
	display:none;	
}

/***********************************************************************************

FAQ

************************************************************************************/
.faqAnswer {
	padding:0px 0px 0px 20px;
	margin:10px 0px 5px 10px;	
	font-family: segoe ui, Arial, sans-serif; 
	font-size:1.2em;
	/* display:none; */
}

/***********************************************************************************

Page Footer

************************************************************************************/
/* Wraps the content */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
}

.pageFooter, .push {
	width:100%;
	height: 20px; /* .push must be the same height as .footer */
	background-color: #0069aa; /* #020D1E */
	/* Multicolumn Layout With Sticky Footer | Add clear to the .push div | clear: both; */ 
	clear: both;
}

.pageFooter .footerText {
	color:#FFF;
	text-align:center;
	font-size:1em;
	font-weight:bold;
	padding-top:0.3em;
}

/*
**********************************************************************************

FORM Style

************************************************************************************/

/* General styles */
/* 
body { margin: 0; padding: 0; font: 80%/1.5 Arial,Helvetica,sans-serif; color: #111; background-color: #FFF; }
*/

/* Form styles */
div.form-container { 
	margin: 10px 0px 10px 0px; /* margin: 10px; */
	padding: 5px; 
	background-color: #FFF; 
	border: #EEE 1px solid; 
}

/* Error messages */
div.errors { 
	margin: 0 0 10px 0; 
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
}

div.errors p { 
	margin: 0; 
}

div.errors p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

/* Page Messages */
div.pageMessages { 
	margin: 0 0 10px 0; 
	padding: 5px 10px; 
	border: #0069aa 1px solid; 
	display:none;
	/* background-color: #c2d9e9; */
}

div.pageMessages p { 
	margin: 0; 
}

div.pageMessages p em { 
	color: #0069aa; 
	font-style: normal; 
	font-weight: bold; 
}

p.legend { 
	margin-bottom: 1em; 
}

p.legend em { 
	color: #C00; 
	font-style: normal; 
}

div.form-container p { 
	margin: 0; 
}

div.form-container p.note { 
	margin-left: 210px; 
	font-size: 90%; 
	color: #333; 
}

div.form-container fieldset { 
	margin: 10px 0; 
	padding: 10px; 
	border: #DDD 1px solid; 
}

div.form-container legend { 
	font-weight: bold; 
	color: #666; 
}

div.form-container fieldset div.field { 
	padding: 0.25em 0;
}

/*
div.form-container fieldset div { 
	padding: 0.25em 0;
}
*/

div.form-container label, 
div.form-container span.label { 
	margin-right: 10px; 
	padding-right: 10px; 
	width: 190px; 
	display: block; 
	float: left; 
	text-align: right; 
	position: relative; 
}

div.form-container label.error, 
div.form-container span.error { 
	color: #C00; 
}

div.form-container label em, 
div.form-container span.label em { 
	position: absolute; 
	right: 0; 
	font-size: 120%; 
	font-style: normal; 
	color: #C00; 
}

div.form-container input.error { 
	border-color: #C00; 
	background-color: #FEF; 
}

div.form-container input:focus,
div.form-container input.error:focus, 
div.form-container select:focus, 
div.form-container textarea:focus {	
	background-color: #FFC; 
	border-color: #FC6; 
}

div.form-container div.controlset label, 
div.form-container div.controlset input { 
	display: inline; 
	float: none; 
}

div.form-container div.controlset div { 
	margin-left: 210px; 
}

div.form-container div.buttonrow { 
	margin-left: 350px; 
}

div.form-container div.buttonrow .button {
	cursor: pointer;
	padding:5px;
	border: 0px;
   	width:80px;
	font-family: segoe ui, Arial, sans-serif; 
	font-size:1.1em;
	font-weight:bold;
	color: #ffffff; 
	background: #1484e6 url(../../images/onlineApp/buttonBlue.png) 50% 50% repeat; 	
}

div.form-container div.buttonrow .button:hover {
   	background: #e69700 url(../../images/onlineApp/buttonOrange.png) 50% 50% repeat;	
}
