@charset "utf-8";
/* CSS Document */

/***********************************************************************************

Form Errors
These are the styles used to display the form errors.

************************************************************************************/
table.form-errors {
	/* margin-bottom: 12px;
	float: inherit; 
	padding-top: 10px;
	*/
	width: 100%;
	display: block;
}

table.form-errors TD.errors {
	color: #FF0000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:0px 10px 0px 10px;
}

table.form-errors TD.errors DIV.header {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 5px;
}

table.form-errors TD.errors UL.list {
	padding-left:15px;
}

/************************************************************************************

Page Messages
These are the styles used to display the page messages.

************************************************************************************/
table.page-messages {
	display:none;
	width: 100%;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

table.page-messages p { 
	padding:0px 10px 0px 30px;
}

table.page-messages p em { 
	color: #0069aa; 
	font-weight: bold;
}






