@charset "utf-8";
/* CSS Document */

/********************************************
	PAGE MESSAGE
********************************************/
div.pageMessages { 
	font-size:0.8em;
	display:none;
	margin: 5px auto 5px auto; 
	padding: 5px 10px; 
	text-align:left;
	background-color: #c2d9e9;
	border: #0069aa 1px solid; 
	font-family: Arial, Helvetica, sans-serif;
}

div.pageMessages p { 
	margin: 0; 
}

div.pageMessages p em { 
	color: #0069aa; 
	font-weight: bold;
}
/********************************************
	END OF PAGE MESSAGE
********************************************/


/********************************************
	 ERROR MESSAGE
********************************************/
div.errors { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	text-align:center;
    margin:0px auto 10px auto;
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
}

div.errorContainer label,
div.errors label { 
	color:#000;
}

div.errors p,
div.errorContainer p { 
	margin: 0; 
}

div.errors p em,
div.errorContainer p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

div.errors ol {
	text-align:left;
}

div.errors ol li {
	padding:2px 10px 2px 5px;
	margin-left:5px;
}
/********************************************
	 END OF ERROR MESSAGE
********************************************/

