@charset "UTF-8";
/* CSS Document */
body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #B8D3E6;
	background-image: url(../../images/bodyBackground.gif);
	background-repeat: repeat-x;
}

hr {
	border:1px solid #CCC;	
}

.oneColFixCtr #container {
	width: 758px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	min-height: 300px;
	height: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.oneColFixCtr #mainContent {
	padding: 0 0px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
.oneColFixCtr #mainContentIndex {
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 758px;
}
.spacer2 {
	height: 50px;
}
.enter {
	text-align: center;
}
.greenBackground {
	background-color: #E6F2D5;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* this is all the css code for the top box */
#topBar {
	height: 40px;
	width: 100%;
	background-color: #000;
	position: fixed;
	z-index: 50;
	padding-right: 10px;
	padding-left: 10px;
}
#topBarLinks {
	width: 100%;
	margin-left: 45%;
}
/* the end of css code for the top box */

#footer{
	clear: both;
	height: 45px;
	margin: 0;
	background-color: #000;
	padding-top: 14;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
} 
.clear {
	height: 15px;
}
#main {padding-bottom: 30px;
}

#subPages {
	height: auto;
	width: 750px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

.whtTop {
	background-image: url(../../images/whtBoxTop.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 746px;
}

.whtMiddle {
	background-image: url(../../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	width: 746px;
	min-height: 50px;
	text-align: justify;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.whtBottom {
	background-image: url(../../images/whtBoxBottom.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 746px;
	display: block;
	clear: both;
}

.bold {
	font-weight: bold;
	text-decoration: underline;
}


/********************************************
	LOGIN
********************************************/
div.loginBox {
 	display:block; 
	padding:10px; 
	background-color:#e6f1f9;
	border: 1px solid #c5dbeb;
	width:500px; 
	margin:10px auto 0px auto;
	height:350px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.loginBox label {
	margin-right:5px;
	font-weight:bold;	
}
/********************************************
	END OF LOGIN
********************************************/


/********************************************
	LEFT MENU
********************************************/
#leftMenu {
	width: 154px;
	padding-left: 0px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 28px;
}

#leftMenu td {
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
}

#leftMenu ul, li {
	list-style-type: none;
	text-align: left;
}

#leftMenu .whtLinks{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}

#leftMenu .whtLinks:links{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
 	text-decoration: none;
}

#leftMenu .whtLinks:hover{
	color: #FFF;
	text-decoration: none;
}

#leftMenu .whtLinks:active{
	color: #FFF;
	text-decoration: none;
}
/********************************************
	END OF LEFT MENU
********************************************/


/********************************************
	MAIN BODY
********************************************/
#logoBoxB {
	background-image: url(../../images/logobox.png);
	background-repeat: no-repeat;
	width: 200px;
	z-index: 50;
	display: block;
	clear: both;
	position: relative;
	float: none;
	margin-right: auto;
	margin-left: auto;
	top: 0px;
	left: -435px;
}

.hostApp {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 675px;
	margin-left: 45px;
	padding: 0px;
}

.hostApp h3,
.hostApp h2 {
	margin-top:0;
}

.blueBox {
	width: 190px;
	margin-left: 0px;
	background-image: url(../../images/blueStrip_32.png);
	background-repeat: repeat-y;
	margin-right: 10px;
	display: block;
}

.p_uppercase { 
	text-transform: capitalize;
	padding-top: 2px;
	margin: 0px;
}

.clearfix {
	display: block;
	height: 5px;
}

a.external {
    padding-right: 13px;
	color:#666;
}

#slidingDiv {
    display: none;
}

.border{
	border:solid 1px;
}
/********************************************
	END OF MAIN BODY
********************************************/


/********************************************
	PAGE MESSAGE
********************************************/
div.pageMessages { 
	display:none;
	margin: 5px auto 15px auto; 
	padding: 5px 10px; 
	text-align:center;
	background-color: #e6f1f9;
	border: #0069aa 1px solid; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

div.pageMessages p { 
	margin: 0; 
}

div.pageMessages p em { 
	color: #0069aa; 
	font-weight: bold;
}
/********************************************
	END OF PAGE MESSAGE
********************************************/


/********************************************
	 ERROR MESSAGE
********************************************/
div.errors { 
	text-align:center;
    margin:0px auto 10px auto;
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.errorContainer label,
div.errors label { 
	color:#000;
}

div.errors p,
div.errorContainer p { 
	margin: 0; 
}

div.errors p em,
div.errorContainer p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

div.errors ol {
	list-style: none;
	text-indent:-3em;
}
/********************************************
	 END OF ERROR MESSAGE
********************************************/


/********************************************
	FORM FIELDS
********************************************/
.required {
	color:#FF0000;
	font-weight:bold;
}

.datePicker {
	width:80px;
	border:1px solid #999;	
}

.xSmallField {
	width : 60px;
	border:1px solid #999;	
}

.smallField {
	width : 80px;
	border:1px solid #999;	
}

.mediumField {
	width : 140px;
	border:1px solid #999;	
}

.largeField {
	width : 200px;
	border:1px solid #999;	
}

.xLargeField {
	width : 260px;
	border:1px solid #999;	
}

.largeTextArea {
	height: 60px;
	width : 300px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.longTextAreaa {
	height: 80px;
	width : 500px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.xLargeTextArea {
	height: 80px;
	width : 350px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.xxLargeTextArea {
	height: 130px;
	width : 450px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.displayNone {
	display:none;
}
/********************************************
	END OF FORM FIELDS
********************************************/


/****Error CSS**/
#wrapper {width:100%; margin:0 auto}
.form {float:left; padding:0 10px 10px 10px; background:#f3f3f3; border:2px solid #cfcfcf}
.form label {float:left; width:100px; padding:10px 10px 0 0; font-weight:bold}
.form select {float:left; width:146px; margin-top:10px}
.form input {float:left; margin-top:10px}
.form .submit {clear:both}
#msgcontent {display:block; background:#f3e6e6; border:2px solid #924949; border-left:none; padding:5px; min-width:150px; max-width:250px}
/******End Error**/