@charset "utf-8";
/* CSS Document */

/************************************************************************************

Login Options

************************************************************************************/
.hiddenDiv {
	display:none;	
}

/***********************************************************************************

Form Errors
These are the styles used to display the form errors.

************************************************************************************/
table.formErrors {
	width:100%;
	display: block;
}

table.formErrors TD.errors {
	color: #FF0000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:0px 10px 0px 10px;
}

table.formErrors TD.errors DIV.header {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 5px;
}

table.formErrors TD.errors UL.list {
	padding-left:15px;
}

/************************************************************************************

Page Messages
These are the styles used to display the page messages.

************************************************************************************/
table.pageMessages {
	width:100%;
	display: block;
}

table.pageMessages td {
	color: #0069aa; 
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:0px 10px 0px 10px;
}

table.pageMessages td DIV.header {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 5px;
}

table.pageMessages td UL.list {
	padding-left:15px;
}
