body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #999;
	background-image: url(../images/backgroundT.jpg);
}
.oneColFixCtrHdr #container {
	width: 1022px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	text-align: left; /* this overrides the text-align: center on the body element. */
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: groove;
	border-left-style: groove;
	border-right-color: #999;
	border-left-color: #999;
}
.bottom {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rgtJust {
	font-size: 12px;
	color: #035953;
	font-weight: bold;
	float: right;
}
.bar {
	height: 310px;
	width: 1022px;
	background-color: #1C5CA6;
	background-image: url(../images/blueStrip.jpg);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
}
.barRed {
	height: 310px;
	width: 1022px;
	background-color: #1C5CA6;
	background-image: url(../images/redStripe.jpg);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
}
.barGreen {
	height: 310px;
	width: 1022px;
	background-image: url(../images/greenStripe.jpg);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
}
.barOrange {
	height: 310px;
	width: 1022px;
	background-image: url(../images/orangeStripe.jpg);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
}
.barSMG {
	height: 310px;
	width: 1022px;
	background-image: url(../images/smgStripe_02.jpg);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
}
.barSubPages {
	width: 1022px;
	background-image: url(../images/smgStripe_02.jpg);
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	line-height: 16px;
}
.textAbout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	line-height: 16px;
	text-align: justify;
}
.info {
	background-color: #CCC;
	height: 260px;
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
}
.infoAbout {
	background-color: #CCC;
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
}
.logo {
	float: left;
	height: 150px;
	width: 172px;
}
.oneColFixCtrHdr #header {
	height: 150px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 20px;
	background-color: #FFF;
}
.navigate {
	float: right;
	height: 30px;
	width: 800px;
	margin-top: 60px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.oneColFixCtrHdr #mainContent {
	padding: 0 0px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}
.oneColFixCtrHdr #footer {
	background-color: #CCC;
	display: block;
	height: 25px;
	bottom: -5px;
	background-position: bottom;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	clear: both;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.clearfix {
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 25px;
}
.topBar {
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 25px;
	background-color: #999;
}
.botBar {
	display: block;
	clear: both;
	height: 25px;
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.bold {
	font-weight: bold;
}
li  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
