body {
	scrollbar-face-color:#999999;
	scrollbar-highlight-color:#cccccc;
	scrollbar-3dlight-color:#333333;
	scrollbar-darkshadow-color:#222222;
	scrollbar-shadow-color:#111111;
	scrollbar-arrow-color:#003300;
	scrollbar-track-color:#777777;
	background-color: #7F7B78;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style1 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style2 {
	color: #003300;
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

