body {
	background-color: #0078a9;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	scrollbar-face-color:#198DBE;
	scrollbar-highlight-color:#78CAED;
	scrollbar-3dlight-color:#15759D;
	scrollbar-darkshadow-color:#15759D;
	scrollbar-shadow-color:#000044;
	scrollbar-arrow-color:#FF7E0D;
	scrollbar-track-color:#FF7E0D;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.style2 {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #0078A9;
	font-weight: bold;
}
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px; 
	color: #FF7E0D; 
	font-weight: bold; 
}
.style4 {font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px; 
	color: #ffffff; 
	font-weight: bold; 
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.box{
	border: 0px;
	line-height: 20px;
	background-color: #0078A9;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px; 
	color: #FFFFFF; 
	font-weight: bold; 
}

.vline { BACKGROUND-IMAGE: url(pics/table-borders/left-vert-line.gif); BACKGROUND-REPEAT: repeat-y }
	.grouptopleft { BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(pics/table-borders/topleft.gif); BACKGROUND-REPEAT: no-repeat }
	.groupTop { BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(pics/table-borders/top.gif); BACKGROUND-REPEAT: repeat-x }
	.groupTopRight { BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(pics/table-borders/topright.gif); BACKGROUND-REPEAT: no-repeat }
	.groupLeft { BACKGROUND-POSITION-X: right; BACKGROUND-IMAGE: url(pics/table-borders/left-vert-line.gif); BACKGROUND-REPEAT: repeat-y }
	.groupRight { BACKGROUND-IMAGE: url(pics/table-borders/right.gif); BACKGROUND-REPEAT: repeat-y }
	.groupBottomLeft { BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(pics/table-borders/bottomleft.gif); BACKGROUND-REPEAT: no-repeat }
	.groupBottom { BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(pics/table-borders/bottom.gif); BACKGROUND-REPEAT: repeat-x }
	.groupBottomRight { BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(pics/table-borders/bottomright.gif); BACKGROUND-REPEAT: no-repeat }
	.footer { BACKGROUND-IMAGE: url(pics/table-borders/FooterBackground.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #bf0301 }
	.errMessageGradientStyle { BACKGROUND-IMAGE: url(pics/red-error-backgradient.gif); BACKGROUND-REPEAT: repeat-x }
	.normRegistrationHeader { BACKGROUND-IMAGE: url(pics/norm-backimage.gif); BACKGROUND-REPEAT: repeat-x }
	.orangeLine { BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(pics/orange_gradiant.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ff7e0d }
	.redLine { BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(pics/red_background.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #000000 }
	

