body{
	font-family: Arial, Helvetica, sans-serif;	
}

#page_Area {
	background-color: #ffffff;
	height: 11in;
	width: 570px;
}
	
#titleleft{
	font-size: small;	
}

.application_section_header{
	border-bottom: 1px dashed Gray;
	text-transform: uppercase;
	letter-spacing: 5px;
	width:100%;
	text-align:center;
	background;
	background: #C2D1EF;
	font-size: small;
	display:block;
}
