	BODY { position: relative; min-width: 600px; width: 100%; margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
	
	/****************Table Settings**************/
table,tr,td{
	font-size:12px;
}
  
table.nav_bar { font-size: 12px; background-color: #ffffff; border: 1px solid #2E5872; }

.section {border-top: 1px solid #c6c6c6; border-right: 2px solid #c6c6c6;border-left: 2px solid #c6c6c6;border-bottom: 0px; background: #ffffff;}

.sectionBorderOnly {border-right: 2px solid #c6c6c6; border-left: 2px solid #c6c6c6; background: #ffffff;}

.sectionHeader { border-bottom: 1px solid #c6c6c6; vertical-align:top; }

a:link, a:visited{
	color: #5E748C;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


/************** header tag styles **************/

h1{
 font: bold 120% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h2a{
 font: bold 100% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;

}

h4{
 font: 100% Arial,sans-serif;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


/*************** list tag styles ***************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/********* form and related tag styles *********/

form {
	margin: 0;
	padding: 0;
}

label{
 font: bold 1em Arial,sans-serif;
 color: #334d55;

 
}
				
input{
font-family: Arial,sans-serif;
}


/********* column layout tags *********/
#top {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 600px;
	width: 755px;
	height: 100px;
	background-color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(pics/development.jpg);
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

	#top h2{
	font: bold 150% Arial,sans-serif;
	color: #000000;
	margin:0px;
	padding: 0px;
	}
	
		#top img{
	position: absolute;
	top: 20px;
	left: 675px;
	padding: 0px;
	margin: 0px;
	}
	
	#top img{
	position: absolute;
	top: 20px;
	left: 675px;
	padding: 0px;
	margin: 0px;
	}

#leftcontent { position: absolute;
			   top:95px;
			   left: 0;
			   width: 150px;
			   margin: 1% 1% 0 0; border-top:1px solid #000;
		border-left:1px solid #000;
		border-right:1px solid #000;
		border-bottom:1px solid #000;
		background-color: #FFFFFF;
		min-height:520px;}

#centercontent { position: absolute; top:95px; left:153px; min-width: 360px; width: 600px; margin-top: 1%; border-top:1px solid #000; min-height:520px;
		border-left:1px solid #000;
		border-right:1px solid #000;
		border-bottom:1px solid #000;
		background-color: #FFFFFF;
		
		 }

#rightcontent{ position: absolute; top:100px; left: 758px;  margin: 1% 0 0 1%; }

/****************Footer Style**********************/
#siteInfo{

	
	border-top: 1px solid #666666;
	font-size: small;
	color: #cccccc;
	padding: 10px 0 10px 0;
	
}
#footer   
{ 
       
      font-size: 9px; 
      font-family: Verdana, Geneva, Arial, sans-serif; 
      background-color: #ffffff; 
      text-align: center; 
      position: absolute; 
      bottom: 0px; 
      left: 0px; 
      width: 755px; 
      height: 18px 
      } 


		
	p,h1,pre {
		margin:0px 10px 10px 10px;
		font-size:12px;
		}
		
	h1 {
		font-size:14px;
		padding-top:10px;
		}
		

	
	


	


/************ sectionLinks styles **************/

#sectionLinks{
	margin: 0px;
	padding: 0px;
	font-size:15px;
	font-family: Arial,Verdana,sans-serif;
}

/*****#sectionLinks h3{
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #666666;
}
****/
#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #FFFAFA;
	background-color: #00003C;
	text-decoration: none;
}

#sectionLinks a:hover{
	border-top: 1px solid #666666;
	background-color: #FFFAFA;/*#DDEEFF;*/
	background-image: none;
	font-weight: bold;
	text-decoration: none;
	color: #201D3E ;
}
#subMenuLinks{
	margin: 0px;
	padding: 0px;
	
}

#subMenuLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #D0D0D0;
}

#subMenuLinks a:link, #subMenuLinks a:visited {
	display: block;
	border-top: 1px solid #D0D0D0;
	
	font-weight: bold;
	padding: 4px 0px 4px 10px;
	color: #4B4B4B;
	background-color: ffffff;
}

#subMenuLinks a:hover{
	border-top: 1px solid #D0D0D0;
	background-color: #E3E3E3;/*#DDEEFF;*/
	background-image: none;
	font-weight: bold;
	text-decoration: none;
	color: #201D3E ;
}


#greyed_text {
	font-size:small;
	color:#a8a8a8;
}

/************* frequent docs styles **************/

.frequentdocs{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	border-bottom: 1px solid #666666;
	background-color: #F5F5F5;
	font-size:x-small;
}

.frequentdocs h3{
	padding: 0px 0px 2px 0px;
	
	font-size:larger;
	font-family: Arial, Helvetica, sans-serif;
}

.frequentdocs a{
	display: block; 
}
/******************alert styles********************/
.alerts{
	margin: 0px;
	padding: 5px 0px 10px 10px;
	
	background-color: #CC0000;
	color: #FFFAFA;
	font-size:12px;
}
 .alerts h3{
 	color: #FFFAFA;
 text-align: center;
 font-size:12px;
 
}
/******************update styles********************/
.updates{
	margin: 0px;
	padding: 5px 0px 10px 10px;
	border-bottom: 0px solid #666666;
	background-color: #005B01;
	color: #FFFAFA;
	 font-size:12px;
}
 .updates h3{
 	color: #FFFAFA;
 text-align: center;
  font-size:12px;
}




/*****************form styles**********************************/
.form_section_title{
	border-bottom: dashed #201D3E;
	border-bottom-width: 1px;
	background-color: #F5F5FA;
	width: 80%;
	text-indent: 5px;
	}
	
.inline_help{
	background-color: White;
	text-transform: lowercase;
	font-size: x-small;
	text-align: center;
	vertical-align: bottom;
	}
.inline_help a:link, #inline_help a:visited{
	background-color: #EFEEFD;
	text-transform: lowercase;
	
}
/*******************button*************************/
.button{
	width: 80%;
}

.pop_up_help{
	background-color: White;
	width:80%;
	text-align: left;
	margin-top: 10px;
	padding: 2px 2px 10px 2px;
	}

.help_pop_up_title{
	border-bottom: dashed #201D3E;
	border-bottom-width: 1px;
	background-color: #F5F5FA;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
/******************end pop-ups***********************/

/******************box***********************************/
.box{
	border: 1px solid #424242;
	background-color: #EEEEEE;
	text-align: left;
}


.tab{
	border-width: 1px 1px 0px 1px;
	border: solid Black;
}


  
/*************************Login Styles*************************/
#login{
	position:absolute;
	top: 50px;
	left: 25%;
	right: 25%;
	width: 50%;
	background: none;
	background-color: #FFFFFF;
	background-image: none;
	color:#000000;
}
#login img{
	border:0px;
}

/**********************Form Sections*************************/
div.row {
	background-color: #F8F8F8;
  }

 td.label {
 font: 12px  Arial,sans-serif;
text-align: right;
width:130px;
    }
td.zip{
font: 12px Arial,sans-serif;
text-align: right;

}
td.get_attention {background-color:#EAE8E8;}
td.form_text{
	 font-family: Arial,sans-serif;
	 font-size:12px;
	
}
div.row span.formw {
	text-align: left;
}
  
div.row span.spacer{
	clear:both;
}

.get_Attention{
	color: #8B0000;
}


.application_section_header{
	border-bottom: 1px dashed orange;
	text-transform: uppercase;
	letter-spacing: 5px;
	width:100%;
	text-align:center;
	background: #e2efc7;
	font-size:12px;
	display:block;
	
	}
	/*
.page-break{
}
*/


#button{
	
	float: right;
	border-bottom-width: thin;
	border-left: thin solid Black;
	width:100px;
	
}
td span.grayed{
	color: #B0B0B0;
}
.edit_link{
	letter-spacing: 2px;
	font-size: x-small;
	
}
.edit_link_selected {
	letter-spacing: 2px;
	font-size: x-small;
	text-transform: capitalize;
	background-color:#E3E3E3;
	color:#666666;
}

.edit_link_selected A {
	letter-spacing: 2px;
	font-size: x-small;
	text-transform: uppercase;
	background-color:#E3E3E3;
	color:#666666;
}

#information_window{
	
	top: 10px;
	left: 5%;
	right: 2%;
	width:400px;
	background-color: #ffffff;
	float:left;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom:25px;
	padding-left: 10px;
	padding-bottom:10px;
	padding-top:5px;
}

.redtext {
	color: #FF0000;
}

/********************Menu Settings************************/
#childsectionLinks{
	margin: 0px;
	padding: 0px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	

}

#childsectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #999999;
}

#childsectionLinks a:link, #childsectionLinks a:visited {
	display: block;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color:AEAEAF;
	/*font-weight: bold;*/
	padding: 3px 0px 3px 10px;
	color: Black;
}

#childsectionLinks a:hover{
	border-top: 1px solid #999999;
	background-color: #F5F5F5;/*#DDEEFF;*/

	font-weight: bold;
	text-decoration: none;
}


#subMenuNav{
	float: right;
	width:160px;
	padding: 0px;
	background-color: White;/*#C6D2A2;*/
	border-bottom: 1px solid #D0D0D0;
	font-size:12px;
	font-family: Arial, Verdana,sans-serif;
	
}#pagecell_reports {
	width:100%;
	background-color: #ffffff;
	font-size:10pt;
	position: absolute;
}
