@charset "utf-8";
/* CSS Document */

/***********************************************************************************

Form Errors
These are the styles used to display the form errors.

************************************************************************************/
table.formErrors {
	width:100%;
	display: block;
}

table.formErrors TD.errors {
	color: #FF0000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:0px 10px 0px 10px;
}

table.formErrors TD.errors DIV.header {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 5px;
}

table.formErrors TD.errors UL.list {
	padding-left:15px;
}

/* Error messages */
div.errorContainer { 
	display: none; 
	margin: 10px 0 10px 0; 
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
}

div.errors { 
	margin: 0 0 10px 0; 
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
}

div.errorContainer label,
div.errors label { 
	color:#000;
}

div.errors p,
div.errorContainer p { 
	margin: 0; 
}

div.errors p em,
div.errorContainer p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

/************************************************************************************

Page Messages
These are the styles used to display the page messages.

************************************************************************************/
table.pageMessages {
	width:100%;
	display: block;
}

table.pageMessages td {
	color: #0069aa; 
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:0px 10px 0px 10px;
}

table.pageMessages td DIV.header {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 5px;
}

table.pageMessages td UL.list {
	padding-left:15px;
}


/* Page Messages */
div.pageMessages { 
	display:none;
	margin: 10px 0 10px 0; 
	padding: 5px 10px; 
	/* background-color: #c2d9e9; */
	border: #0069aa 1px solid; 
	/* font-family: Arial, Helvetica, sans-serif; */
}

div.pageMessages p { 
	margin: 0; 
}

div.pageMessages p em { 
	color: #0069aa; 
	font-weight: bold;
}

