@charset "UTF-8";
/* CSS Document */

form {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666;
}
form ul li {
	list-style: none;
	padding: 3px;
	text-align: right;
}
form input {
	margin-left: 10px;
}
form textarea {
	margin-left: 10px;
}	
	
