@charset "UTF-8";
/* CSS Document */


body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #B8D3E6;
	background-image: url(/images/bodyBackground.gif);
	background-repeat: repeat-x;
}
.oneColFixCtr #container {
	width: 758px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	min-height: 300px;
	height: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.oneColFixCtr #mainContent {
	padding: 0 0px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
.oneColFixCtr #mainContentIndex {
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 758px;
}
.spacer2 {
	height: 50px;
}
.enter {
	text-align: center;
}


/* this is all the css code for the top box */
#topBar {
	height: 40px;
	width: 100%;
	background-color: #000;
	position: fixed;
	z-index: 50;
	padding-right: 10px;
	padding-left: 10px;
}
#topBarLinks {
	width: 100%;
	margin-left: 45%;
}
.topLinks1{
	text-align: right;
	display: block;
	float: left;
	width: 62px;
	text-align: center;
	background-image: url(/images/TopBarLinks/topBarLinks1.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks1:hover {
	text-align: right;
	display: block;
	float: left;
	width: 62px;
	text-align: center;
	background-image: url(/images/TopBarLinks/MOtopBoxLinks1.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks1:active {
	text-align: right;
	display: block;
	float: left;
	width: 62px;
	text-align: center;
	background-image: url(/images/TopBarLinks/liveTopBarLinks1.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks2{
	text-align: right;
	display: block;
	float: left;
	width: 84px;
	text-align: center;
	background-image: url(/images/TopBarLinks/topBarLinks2.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks2:hover {
	text-align: right;
	display: block;
	float: left;
	width: 84px;
	text-align: center;
	background-image: url(/images/TopBarLinks/MOtopBoxLinks2.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks2:active {
	text-align: right;
	display: block;
	float: left;
	width: 84px;
	text-align: center;
	background-image: url(/images/TopBarLinks/liveTopBarLinks2.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks3{
	text-align: right;
	display: block;
	float: left;
	width: 90px;
	text-align: center;
	background-image: url(/images/TopBarLinks/topBarLinks3.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks3:hover {
	text-align: right;
	display: block;
	float: left;
	width: 90px;
	text-align: center;
	background-image: url(/images/TopBarLinks/MOtopBoxLinks3.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks3:active {
	text-align: right;
	display: block;
	float: left;
	width: 90px;
	text-align: center;
	background-image: url(/images/TopBarLinks/liveTopBarLinks3.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks4{
	text-align: right;
	display: block;
	float: left;
	width: 121px;
	text-align: center;
	background-image: url(/images/TopBarLinks/topBarLinks4.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks4:hover {
	text-align: right;
	display: block;
	float: left;
	width: 121px;
	text-align: center;
	background-image: url(/images/TopBarLinks/MOtopBoxLinks4.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks4:active {
	text-align: right;
	display: block;
	float: left;
	width: 121px;
	text-align: center;
	background-image: url(/images/TopBarLinks/liveTopBarLinks4.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks5{
	text-align: right;
	display: block;
	float: left;
	width: 106px;
	text-align: center;
	background-image: url(/images/TopBarLinks/topBarLinks5.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks5:hover {
	text-align: right;
	display: block;
	float: left;
	width: 106px;
	text-align: center;
	background-image: url(/images/TopBarLinks/MOtopBoxLinks5.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.topLinks5:active {
	text-align: right;
	display: block;
	float: left;
	width: 106px;
	text-align: center;
	background-image: url(/images/TopBarLinks/liveTopBarLinks5.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
/* the end of css code for the top box */


/* logo box information */
#logoBoxFixed {
	background-image: url(/images/logobox.png);
	background-repeat: no-repeat;
	height: 160px;
	width: 214px;
	z-index: 50;
	display: block;
	clear: both;
	position: absolute;
	left: 12%;
	top: 40px;
}
/* end logo box information */


/* tab Bar information */
.tabs1 {
	text-align: right;
	display: block;
	float: left;
	width: 131px;
	text-align: center;
	background-image: url(/images/topTabs/tabs_03.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs1:hover {
	text-align: right;
	display: block;
	float: left;
	width: 131px;
	text-align: center;
	background-image: url(/images/topTabs/MOtabs_03.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs1:active {
	text-align: right;
	display: block;
	float: left;
	width: 131px;
	text-align: center;
	background-image: url(/images/topTabs/live_03.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs2{
	text-align: right;
	display: block;
	float: left;
	width: 115px;
	text-align: center;
	background-image: url(/images/topTabs/tabs_04.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs2selected {
	text-align: right;
	display: block;
	float: left;
	width: 115px;
	text-align: center;
	background-image: url(../images/topTabs/MOtabs_04.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs2:hover {
	text-align: right;
	display: block;
	float: left;
	width: 115px;
	text-align: center;
	background-image: url(/images/topTabs/MOtabs_04.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs2:active {
	text-align: right;
	display: block;
	float: left;
	width: 115px;
	text-align: center;
	background-image: url(/images/images/topTabs/live_04.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}

.tabs3{
	text-align: right;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	background-image: url(/images/topTabs/tabs_05.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs3:hover {
	text-align: right;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	background-image: url(/images/topTabs/MOtabs_05.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs3:active {
	text-align: right;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	background-image: url(/images/topTabs/live_05.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs4{
	text-align: right;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	background-image: url(/images/topTabs/tabs_06.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs4:hover {
	text-align: right;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	background-image: url(/images/topTabs/MOtabs_06.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs4:active {
	text-align: right;
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	background-image: url(/images/images/topTabs/live_06.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs5{
	text-align: right;
	display: block;
	float: left;
	width: 85px;
	text-align: center;
	background-image: url(/images/topTabs/tabs_07.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs5:hover {
	text-align: right;
	display: block;
	float: left;
	width: 85px;
	text-align: center;
	background-image: url(/images/topTabs/MOtabs_07.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs5:active {
	text-align: right;
	display: block;
	float: left;
	width: 85px;
	text-align: center;
	background-image: url(/images/topTabs/live_07.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;

}
.tabs6{
	text-align: right;
	display: block;
	float: left;
	width: 80px;
	text-align: center;
	background-image: url(/images/topTabs/tabs_08.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs6:hover {
	text-align: right;
	display: block;
	float: left;
	width: 80px;
	text-align: center;
	background-image: url(/images/topTabs/MOtabs_08.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabs6:active {
	text-align: right;
	display: block;
	float: left;
	width: 80px;
	text-align: center;
	background-image: url(/images/topTabs/live_08.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 51px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.tabsBar {
	height: 51px;
	width: 625px;
	float: right;
}
/* end tab Bar information */


#footer1 {
	clear: both;
	height: 35px;
	margin: 0;
	background-color: #000;
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10;
	position: fixed;
	bottom: 0px;
}
#footer{
	clear: both;
	height: 45px;
	margin: 0;
	background-color: #000;
	padding-top: 14;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
} 
.clear {
	height: 15px;
}
#wrap {height:100%;
}
#main {padding-bottom: 30px;
}
#lead {
	height: 310px;
	width: 750px;
	margin-top: 48px;
	margin-right: auto;
	margin-left: auto;
}
#bottomInfoRight {
	float: right;
	height: auto;
	width: 233px;
}
#bottomInfoLeft {
	float: left;
	height: auto;
	width: 525px;
}


/* this is all the css code for the bottom box */
.bottomLinks1{
	display: block;
	float: left;
	width: 70px;
	text-align: center;
	background-image: url(../images/bottomLinks/bottomLinks_1.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	background-position: left center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.bottomLinks1:hover {
	display: block;
	float: left;
	width: 70px;
	text-align: center;
	background-image: url(../images/bottomLinks/MObottomLinks_1.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks1:active {
	display: block;
	float: left;
	width: 70px;
	text-align: center;
	background-image: url(../images/bottomLinks/LivebottomLinks_1.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks2{
	display: block;
	float: left;
	width: 79px;
	text-align: center;
	background-image: url(../images/bottomLinks/bottomLinks_2.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks2:hover {
	display: block;
	float: left;
	width: 79px;
	text-align: center;
	background-image: url(../images/bottomLinks/MObottomLinks_2.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks2:active {
	display: block;
	float: left;
	width: 79px;
	text-align: center;
	background-image: url(../images/bottomLinks/livebottomLinks_2.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks3{
	display: block;
	float: left;
	width: 92px;
	text-align: center;
	background-image: url(../images/bottomLinks/bottomLinks_3.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks3:hover {
	display: block;
	float: left;
	width: 92px;
	text-align: center;
	background-image: url(../images/bottomLinks/MObottomLinks_3.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks3:active {
	display: block;
	float: left;
	width: 92px;
	text-align: center;
	background-image: url(../images/bottomLinks/bottomLinks_3.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks4{
	display: block;
	float: left;
	width: 124px;
	text-align: center;
	background-image: url(../images/bottomLinks/bottomLinks_4.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks4:hover {
	display: block;
	float: left;
	width: 124px;
	text-align: center;
	background-image: url(../images/bottomLinks/MObottomLinks_4.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks4:active {
	display: block;
	float: left;
	width: 124px;
	text-align: center;
	background-image: url(../images/bottomLinks/livebottomLinks_4.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks5{
	display: block;
	float: left;
	width: 113px;
	text-align: center;
	background-image: url(../images/bottomLinks/bottomLinks_5.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks5:hover {
	display: block;
	float: left;
	width: 113px;
	text-align: center;
	background-image: url(../images/bottomLinks/MObottomLinks_5.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
.bottomLinks5:active {
	display: block;
	float: left;
	width: 113px;
	text-align: center;
	background-image: url(../images/bottomLinks/livebottomLinks_5.png);
	background-repeat: no-repeat;
	z-index: 2;
	height: 19px;
	margin: 0px;
	padding: 0px;
	background-position: left center;
}
#bottomLinks {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
}
.top {
	background-image: url(../images/smWhiteBoxT.png);
	background-repeat: no-repeat;
	height: 19px;
	width: 525px;
}
.middle {
	background-image: url(../images/smWhiteBoxM.png);
	background-repeat: repeat-y;
	height: 100%;
	width: 525px;
}
.bottom {
	background-image: url(../images/smWhiteBoxB.png);
	background-repeat: no-repeat;
	height: 19px;
	width: 525px;
}
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}.clearfix {display: inline-block;
/*Hides from IE-mac*/
}.clearfix {display: block;
/* end ides from IE-mac*/
}
#subPages {
	height: auto;
	width: 750px;
	margin-top: 48px;
	margin-right: auto;
	margin-left: auto;
}
.subPic {
	float: right;
	height: 276px;
	width: 414px;
	padding: 0px;
	margin-top: -5px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.whtTop {
	background-image: url(../images/whtBoxTop.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 746px;
}
.whtMiddle {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	width: 746px;
	min-height: 50px;
	text-align: justify;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.whtBottom {
	background-image: url(../images/whtBoxBottom.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 746px;
	display: block;
	clear: both;
}
.p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	margin: 0px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.p1Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	margin: 0px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
	font-weight: bold;
	text-decoration: underline;
}
.termsAndConditions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	margin: 0px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.termsAndConditions h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.termsAndConditions h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.header1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-align: center;
	text-decoration: underline;
}
.sub-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #124162;
	text-align: center;
	padding:0px;
	margin:0px;
}
.bold {
	font-weight: bold;
	text-decoration: underline;
}

/* Meet Students Page */
.meetStudentsForm {
	font-size: 12px;
	height: auto;
	width: 240px;
	margin-left: 25px;
	padding: 10px 15px 10px 25px;
	background-color: #b5ea6c; 
	border: 1px solid #000;
	text-align:justify;
}
.meetStudentsForm a {
	padding-top:10px;
	text-decoration:none;
	color: #124162;
	font-weight:bold;
}
.meetStudentsForm a:link {
	text-decoration: none;
}
.meetStudentsForm a:hover {
	text-decoration: underline;
	color:#000;
}
.meetStudentsLogin {
	font-size: 12px;
	float: right;
	height:auto;
	width: 280px;
	margin: 10px 37px 0px 0px;
	padding: 10px 15px 10px 25px;
	background-color: #b5d1e5; /* #CCC; */
	border: 1px solid #000; /* #005dab; */
	text-align:justify;
}
.meetStudentsLogin h1 {
	font-size:1.1em;
	color: #124162;
	font-weight:bold;
	text-decoration:underline;
}
.meetStudentsLogin a {
	padding-top:10px;
	float:right;
	text-decoration:none;
	color: #124162;
	font-weight:bold;
}
.meetStudentsLogin a:link {
	text-decoration: none;
}
.meetStudentsLogin a:hover {
	text-decoration: underline;
	color:#000;
}
.requiredField {
	color: #d22329;
	font-weight:bold;
}
.requiredFieldNote {
	color: #d22329;
	display:block;
	font-size: 10px;
	font-weight:bold;
	margin:7px 0px 7px 0px;
}
.inputLabel {
	display:block;
	font-weight: bold;
	color: #333;
}
.inputCheckbox {
	font-weight: bold;
	color: #333;
}
.inputNote {
	font-size: 10px;
	display:block;
}
.largeInput {
	display:block;
	width: 210px;
	margin-bottom:7px;
}
.hiddenDiv {
	display:none;	
}
.pageMessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #124162;
	font-weight:bold;
	padding: 10px 0px 10px 0px;
}
.errorMessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d22329;
	font-weight:bold;
	padding: 10px 0px 10px 0px;
}
.errorMessage span {
	display:block;
	margin-bottom:5px;
}
/* End of Meet Student Form */


/* start Webstore css*/
.shopping {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 400px;
	width: 625px;
	margin-left: 65px;
	margin-top: 10px;
	padding: 0px;
	text-align: center;
}
.lightGreen {
	color: #000;
	background-image: url(../images/webstore/greenbox.gif);
	background-repeat: repeat;
	text-align: center;
}
.lightBlue {
	color: #000;
	text-align: center;
	background-color: #d0edf9;
	padding: 20px;
}
/* end Webstore css*/


.whtMiddleStretch {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	min-height: 50px;
	text-align: justify;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	min-height: 1200px;
}
.whtMiddleStretchCl {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	min-height: 50px;
	text-align: justify;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	min-height: 1600px;
}
.whtMiddletrips {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	min-height: 50px;
	text-align: justify;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	min-height: 500px;
}
.whtMiddleQuest {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: 100%;
	width: 746px;
	min-height: 4000px;
	text-align: justify;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.whtMiddleweb {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	min-height: 50px;
	text-align: justify;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	min-height: 400px;
}
.paragraphRules {
	text-align: left;
	color: #000;
	padding-right: 20px;
	padding-left: 25px;
	list-style-type: square;
	list-style-position: inside;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.p2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	margin: 0px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	color: #000;
}
.rightJust {
	font-weight: bold;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	padding-right: 60px;
}
.leftJust {
	text-align: left;
}
.boldLJ {
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	padding-left: 20px;
}
.trips {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 400px;
	width: 625px;
	margin-left: 65px;
	margin-top: 10px;
	padding: 0px;
	text-align: left;
}
.formRep {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E6C4BA;
	height: auto;
	width: 240px;
	margin-left: 25px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.indent {
	text-indent: 5px;
}
.greenTextBox {
	background-color: #E6F2D5;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}
.blueTextBoxCopy {
	background-color: #d0edf9;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}
.margin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}
#logoBox {
	background-image: url(/images/logobox.png);
	background-repeat: no-repeat;
	height: 160px;
	width: 200px;
	z-index: 50;
	display: block;
	clear: both;
	position: relative;
	float: none;
	margin-right: auto;
	margin-left: auto;
	top: 0px;
	left: -435px;
}
.oneColFixCtr #containerFix {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	min-height: 300px;
	height: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}

#page-wrap{
	padding: 10px;
}
#footer2 {
	clear: both;
	height: 20%;
	margin: 0;
	background-color: #000;
	padding-top: 14;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	bottom: -15px;
}
/****Error CSS**/
#wrapper {width:100%; margin:0 auto}
.form {float:left; padding:0 10px 10px 10px; background:#f3f3f3; border:2px solid #cfcfcf}
.form label {float:left; width:100px; padding:10px 10px 0 0; font-weight:bold}
.form select {float:left; width:146px; margin-top:10px}
.form input {float:left; margin-top:10px}
.form .submit {clear:both}
#msg {display:none; position:absolute; z-index:200; background:url(images/msg_arrow.gif) left center no-repeat; padding-left:7px}
#msgcontent {display:block; background:#f3e6e6; border:2px solid #924949; border-left:none; padding:5px; min-width:150px; max-width:250px}
/******End Error**/

/***** Host Family New Pages *****/
.HFsidebarL {
	float: left;
	width: 345px;
	background: #FFF;
	margin-left: 10px;
	display: block;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.HFsidebarLW {
	float: left;
	width: 465px;
	background: #FFF;
	margin-left: 10px;
	display: block;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.HFsidebarL, .HFsidebarR  p{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	text-align: left;
	line-height: 14px;
}
.HFsidebarLW, .HFsidebarRW  p{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: left;
	line-height: 15px;
}
.HFsidebarR {
	float: right;
	width: 320px;
	background: #FFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: 10px;
	display: block;
}
.HFsidebarRW {
	float: right;
	width: 210px;
	background: #FFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: 10px;
	display: block;
}
.HFheader{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 20px;
	color: #000;
	list-style-position: inside;
	list-style-image: url(../images/hostFamily/HF_arrow.png);
	text-align: left;
}
.HFtopPic {
	display: block;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.HFgradient {
	background-image: url(../images/hostFamily/HF_gradient.png);
	background-repeat: repeat-y;
	background-position: left;
	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;
}
.HF_boxOrg {
	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;
	background-color: #F90;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
}
.HF_boxW {
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
	width: 200px;
	background-image: url(../images/hostFamily/corner.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 20px;
}
.HFpicL {
	float: left;
}
.HFpicR {
	float: right;
}
.HFwhtMiddle {
	background-image: url(../images/whtBoxMiddle.png);
	background-repeat: repeat-y;
	margin: 0px;
	height: auto;
	width: 746px;
	min-height: 50px;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/***** Meet the Students New Pages *****/
.HformSideL{
	float: left;
	width: 290px;
	background: #FFF;
	margin-left: 10px;
	display: block;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.HformSideR{
	float: right;
	width: 392px;
	margin-right: 7px;
	display: block;
	padding: 0px;
}
.HFormpicR{
	float: right;
	width: 100px;
	margin-right: 75px;
	text-align: center;
}
.HFform_wtext{
	color: #FFF;
	font-size: 10px;
}
.loginTop{
	background-image: url(../images/hostFamily/HFformPic_06.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 397px;
	}
.loginMid{
	background-image: url(../images/hostFamily/HFform_logMiddle.png);
	background-repeat: repeat-y;
	width: 394px;
	padding-left: 55px;
	padding-right: 20px;
	color: #FFF;
	font-size: 11px;
	height: 198px;
	padding-bottom: 30px;
	padding-top: 3px;
	}
.loginBot{
	background-image: url(../images/hostFamily/HFform_logbottom.png);
	background-repeat: no-repeat;
	height: 48px;
	width: 397px;
	}
