/* Add all your css styles (customizations) */
/*change the hover colord for striped tables */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#D0E6FC;
}
.table-hover thead {
  background-color:#B6CCE2;
}
.breadcrumbs {
    overflow: hidden;
    padding: 3px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(../img/patterns/breadcrumbs.png) repeat;
}


