@charset "utf-8";
/* CSS Document */

/********************************************
	HEADER.CFM
********************************************/
.smlink         		{font-size: 11px;}
.section        		{border-top: 1px solid #c6c6c6;; border-right: 2px solid #c6c6c6;border-left: 2px solid #c6c6c6;border-bottom: 0px; background: #ffffff;}
.sideborders			{border-right: 2px solid #c6c6c6;border-left: 2px solid #c6c6c6; background: #ffffff;}
.sectionFoot    		{border-bottom: 1px solid #BB9E66; background: #FAF7F1;line-height:1px;font-size:2px;}
.sectionBottomDivider 	{border-bottom: 1px solid #BB9E66; background: #FAF7F1;line-height:1px;}
.sectionTopDivider 		{border-top: 1px solid #BB9E66; background: #FAF7F1;line-height:1px;}
.sectionSubHead			{font-size:11px;font-weight:bold;}
/********************************************
	END OF HEADER.CFM
********************************************/


/********************************************
	TIME PICKER
********************************************/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div .ui_tpicker_hour div { padding-right: 2px; }
.ui-timepicker-div .ui_tpicker_minute div { padding-right: 6px; }
.ui-timepicker-div .ui_tpicker_second div { padding-right: 6px; }
.ui-timepicker-div td { font-size: 90%; }
/********************************************
	END OF TIME PICKER
********************************************/


/********************************************
	FORM FIELDS
********************************************/
.columnTitle {
	font-weight:bold;	
	vertical-align:top;
}

.columTitleRight {
	font-weight:bold;	
	text-align:right;
	vertical-align:top;
}

.defaultForm input { 
	border: 1px solid #999; 
	/* margin-bottom: .5em; */		
}

.defaultForm select {
	border: 1px solid #999; 
	/* margin-bottom: .5em; */		
}

.fieldSize40 {
	width:40px;
	border:1px solid #999;	
}

.fieldSize60 {
	width:60px;
	border:1px solid #999;	
}

.fieldSize70 {
	width:70px;
	border:1px solid #999;	
}

.fieldSize100 {
	width:100px;
	border:1px solid #999;	
}

.datePicker {
	width:80px;
	border:1px solid #999;	
}

.smallField {
	width : 80px;
	border:1px solid #999;	
}

.mediumField {
	width : 140px;
	border:1px solid #999;	
}

.largeField {
	width : 200px;
	border:1px solid #999;	
}

.xLargeField {
	width : 260px;
	border:1px solid #999;	
}

.largeTextArea {
	height: 60px;
	width : 300px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.xLargeTextArea {
	height: 80px;
	width : 350px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.xxLargeTextArea {
	height: 130px;
	width : 450px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.formNote {
	width:100%;
	display:inline-table;
	padding:2px 0 0 0;
	margin:0 0 0 2px;
	font-size:0.8em;
}

.formRequiredNote {
	color:#F00;
	width:100%;
	display:inline-table;
	padding:2px 0 0 0;
	margin:0 0 0 2px;
	font-weight:bold;
	font-size:0.8em;
}

.formWarning {
	color:#F00;
	padding:2px 0 0 0;
	margin:0 0 0 2px;
	font-size:0.8em;
	font-weight:bold;
}

.displayNone {
	display:none;
}

.submitButton {
	cursor:pointer;
	width:80px;
	padding:2px;
	margin-top:15px; 
	margin-bottom: .5em; 		
	border: 1px solid #999; 
}
/********************************************
	END OF FORM FIELDS
********************************************/


/********************************************
	PLACEMENT MANAGEMENT
********************************************/

.placementMgmtInfo {
	/* font-size:0.9em; */
	background-color:#edeff4; 
	margin-right:10px; 
	padding:5px; 
	min-height:80px;	
}

.placementMgmtInfo em {
	font-weight:bold;
	color:#F00;
}

.placementMgmtInfo span {
	display:table;
	margin-top:10px;
	color:#3b5998;
	font-weight:bold;
	text-align:left;
}

.placementTopLinks {
	font-weight:bold; 
	letter-spacing:1px;
	text-transform:uppercase; 
}

.placementMgmtLinks {
	float:right;
	font-size:0.8em;
	font-weight:normal;	
	padding:0px 10px 0px 0px;	
}

.placementMgmtLinks a {
	font-weight:bold;
}

.placementMgmtChanged {
	background-color:#FF6;	
}

#actionButtons form {
	display:inline;
	margin:15px;
}

.singlePlacementAlert {
	width:99%;
	height:55px;
	border: #e85555 1px solid; 
	background-color:#fac7c7;
	text-align:center;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin:5px auto 5px auto;
}

.singlePlacementAlert h1 {
	color:#000;
}

.paperwork td {
	height:2em;
	border-bottom:1px solid #edeff4;	
}

.paperwork td p {
	margin:0px;
}

.paperworkLeftColumn {
	text-align:right; 
	padding-right:10px;
}

.attention {
	color:#000;
	font-weight:bold;
	padding:5px;
	margin:0px 3px 0px 3px;
	border-bottom:1px solid #FFFFFF;
	background-color:#FF6; 
}

.attentionCenter {
	color:#000;
	font-weight:bold;
	padding:5px;
	margin:0px 3px 0px 3px;
	text-align:center;
	border-bottom:1px solid #FFFFFF;
	background-color:#FF6; 
}

.attentionGreen {
	color:#000;
	font-weight:bold;
	padding:5px;
	margin:0px 2px 0px 2px;
	background-color:#A0E1A1; 
}

.rejected {
	color:#000;
	font-weight:bold;
	padding:5px;
	margin:0px 2px 0px 2px;
	background-color:#FB8822; 
}

.alert {
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
	margin:0px 2px 0px 2px;
	background-color:#F00; 
}

.alertCenter {
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
	text-align:center;
	margin:0px 2px 0px 2px;
	background-color:#F00; 
}

/********************************************
	END OF PLACEMENT MANAGEMENT
********************************************/


/********************************************
	REPORTS
********************************************/

.blueThemeReportTable {
	border:1px solid #3b5998;
	margin-top:10px;
}

.blueThemeReportTable .note {
	font-size:9px;
}

.blueThemeReportTable .noteAlert {
	color:#F00;
	font-size:9px;	
}

.blueThemeReportTable th {
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#3b5998; 
	text-transform:uppercase;
}

.blueThemeReportTable th.left {
	padding:5px;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	text-transform:none;
	background-color:#3b5998; 
}

.blueThemeReportTable th.right {
	padding:5px;
	color:#FFFFFF;
	text-align:right;
	font-weight:bold;
	text-transform:none;
	background-color:#3b5998; 
}

.blueThemeReportTable th.center {
	padding:5px;
	color:#FFFFFF;
	text-align:center;
	font-weight:bold;
	text-transform:none;
	background-color:#3b5998; 
}

.blueThemeReportTable .attention {
	color:#000;
	font-weight:bold;
	border-bottom:1px solid #FFFFFF;
	background-color:#FF6; 
}

.blueThemeReportTable .alert {
	color:#FFFFFF;
	font-weight:bold;
	border-bottom:1px solid #FFFFFF;
	background-color:#F00; 
}

.blueThemeReportTable td {
	vertical-align:top;	
}

.blueThemeReportTable td.subTitleLeft {
	color:#3b5998;
	font-weight:bold;
	border-bottom:1px solid #becbeb;
}

.blueThemeReportTable td.subTitleCenter {
	color:#3b5998;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #becbeb;
}

.blueThemeReportTable td.subTitleRight {
	color:#3b5998;
	font-weight:bold;
	text-align:right;
	border-bottom:1px solid #becbeb;
}

.blueThemeReportTable td.summaryLeft {
	color:#000;
	font-weight:bold;
	border-bottom:#3b5998;
}

.blueThemeReportTable td.summaryCenter {
	color:#000;
	font-weight:bold;
	text-align:center;
}

.blueThemeReportTable td.summaryRight {
	color:#000;
	font-weight:bold;
	text-align:right;
	padding-right:5px;
}

.blueThemeReportTable tr.on {
	background-color:#EDEFF4;
}

.blueThemeReportTable tr.off {
	background-color:#FFFFFF;
}

.blueThemeReportTable td.center {
	text-align:center;
}

/* End of Blue Theme Report */


/* Facebook Style */
.reportTableBorder {
	border:1px solid #3b5998;
	margin-top:10px;
}

.reportCenterTitle {
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;	
	background-color:#3b5998; 
}

.reportLeftTitle {
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#3b5998; 
}

.reportCenterTitle a {
	color:#FFFFFF;
	font-weight:bold;	
}

.reportTitleLeftClean {
	padding:5px;
	color:#3b5998;
	font-weight:bold;
	text-align:left;
}

.fieldCenterTitle {
	padding:5px;
	display:block;
	margin-bottom:3px;
	color:#3b5998;
	font-weight:bold;
	text-align:center;
}

.reportTitleLeftClean em {
	color:#F00;
	font-weight:bold;
}

.reportTitleLeftClean label {
	font-size:1em;
	color:#3b5998;
	font-weight:bold;
	text-align:left;
}

.reportTitleLeftClean td {
	padding-left:10px;
}

/* Green */
.reportTitle {
	font-weight:bold;
	text-align:center;	
	background-color:#E2EFC7;
}

.reportTitleLeft {
	font-weight:bold;
	text-align:left;
	background-color:#E2EFC7;
}

.reportTitleRight {
	font-weight:bold;
	text-align:right;
	background-color:#E2EFC7;
}

.reportFullBorder {
    margin-top:5px;
	border:1px solid #021157;
}

.reportTable {
    margin-top:5px;
	border-top:1px solid #021157;
	border-right:1px solid #021157;
	border-left:1px solid #021157;
}

.reportFieldTitle {
	text-align:right;
	vertical-align:top;
}

.reportColumn {
	border-bottom:1px solid #021157; 
	border-right:1px solid #021157;
}

.reportColumnAlignCenter {
	text-align:center;
	border-bottom:1px solid #021157; 
	border-right:1px solid #021157;
}

.reportRightColumn {
	border-bottom:1px solid #021157;
}

.reportRightColumnAlignCenter {
	text-align:center;
	border-bottom:1px solid #021157;
}
/********************************************
	END OF REPORTS
********************************************/


/********************************************
	HOST FAMILY LEAD
********************************************/

/********************************************
	END OF HOST FAMILY LEAD
********************************************/


/********************************************
	PAGE MESSAGE
********************************************/
div.pageMessages { 
	font-size:0.8em;
	display:none;
	margin: 5px auto 5px auto; 
	padding: 5px 10px; 
	text-align:center;
	background-color: #c2d9e9;
	border: #0069aa 1px solid; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

div.pageMessages p { 
	margin: 0; 
}

div.pageMessages p em { 
	color: #0069aa; 
	font-weight: bold;
}
/********************************************
	END OF PAGE MESSAGE
********************************************/


/********************************************
	 ERROR MESSAGE
********************************************/
div.errors { 
	text-align:center;
    margin:0px auto 10px auto;
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.errorContainer label,
div.errors label { 
	color:#000;
}

div.errors p,
div.errorContainer p { 
	margin: 0; 
}

div.errors p em,
div.errorContainer p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

div.errors ol {
	list-style: none;
	text-indent:-3em;
}
/********************************************
	 END OF ERROR MESSAGE
********************************************/


/********************************************
	 INLINE FORM ERROR
********************************************/
span.errors { 
	text-align:center;
    margin:0px auto 10px 10px;
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}
/********************************************
	 END OF INLINE FORM ERROR
********************************************/


/********************************************
	 REPORTS STYLE
********************************************/
table.nav_bar { 
	font-size: 10px; 
	background-color: #ffffe6; 
	border: 1px solid e2efc7; 
}
/********************************************
	 END OF REPORTS STYLE
********************************************/


/********************************************
	 DEFAULT TABLE STYLE
********************************************/
.defaultTableStyle {
	background-color:#e2efc7;  /* #c6c6c6 #EAE8E8 */
	line-height:15px;
	margin-bottom:50px;
	padding-bottom:50px;
	font-weight:bold;
}

.defaultTableStyle a {
	color:#000;
}
/********************************************
	 END OF DEFAULT TABLE STYLE
********************************************/


/********************************************
	 PROJECT HELP
********************************************/
.projectHelpNote {
	font-weight:bold;
}

.projectHelpTitle {
	background-color:#e2efc7;  /* #c6c6c6 #EAE8E8 */
	line-height:15px;
	margin-bottom:50px;
	padding-bottom:50px;
}

.projectHelpActivityTitle {
	font-weight:bold;	
}

.projectHelpReason {
	width:400px;
	height:75px;
}

.projectHelpNew {
	padding-right:50px;
}

.projectHelpAdvisor {
	font-size: 13px;
	font-weight: bold;
	background-color: #FFDDBB;
	line-height: 20px;
}

.projectHelpAreaRep {
	font-weight: bold;
	background-color: #CCCCCC;
}

input.projectHelpActivity {
	width:320px;
}

input.projectHelpHours {
	width:50px;
}

.projectHelpWArning {
	color:#F00;
	font-size:1.2em;
	padding:10px, 10px, 10px, 10px;
}

.projectHelpAttention {
	color:#F00;	
}

.projectHelpRule {
	width:80%;
	color:c6c6c6;
	height:1px;
}
/********************************************
	 END OF PROJECT HELP
********************************************/

/********************************************
	 WELCOME SLIDESHOW AND NEWS BOX
********************************************/
 .rdholder {

  height:auto;
  width:auto;
  margin-bottom:25px;

 } 


 .rdholder .rdbox {
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
	padding:10px 15px;
	margin:0;
	display: block;
	min-height: 137px;
 } 

 .rdtop {
	width:auto;
	height:30px;
	border: 1px solid #c6c6c6;
	/* -webkit for Safari and Google Chrome */

  -webkit-border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	/* -moz for Firefox, Flock and SeaMonkey  */

  -moz-border-radius-topright:12px;
	-moz-border-radius-topleft:12px;
	background-color: #FFF;
	color: #006699;
 } 

 .rdtop .rdtitle {
	margin:0;
	line-height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:20px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: #006699;
 }

 .rdbottom {

  width:auto;
  height:10px;
  border-bottom: 1px solid #c6c6c6;
  border-left:1px solid #c6c6c6;
  border-right:1px solid #c6c6c6;
   /* -webkit for Safari and Google Chrome */

  -webkit-border-bottom-left-radius:12px;
  -webkit-border-bottom-right-radius:12px;


 /* -moz for Firefox, Flock and SeaMonkey  */

  -moz-border-radius-bottomright:12px;
  -moz-border-radius-bottomleft:12px; 
 
 }
.rdPic {
	padding: 3px;
	border: thin solid #CCC;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	 -moz-box-shadow: 3px 3px 4px #999; /* Firefox */
 -webkit-box-shadow: 3px 3px 4px #999; /* Safari/Chrome */
 box-shadow: 3px 3px 4px #999; /* Opera and other CSS3 supporting browsers */
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";/* IE 8 */
 : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');/* IE 5.5 - 7 */  
}
.new_weeks {
		font-size: 10px;
	}
.sticky {
	background-image: url(https://ise.exitsapplication.com/nsmg/pics/sticky.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 64px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
	padding-top: 2px;
	padding-right: 2px;
}


/********************************************
	 END OF WELCOME AND NEWS BOX
********************************************/


/********************************************
	MAIN MENU STYLES
********************************************/

#menuHolder {
	width: auto;
	margin-right: auto;
	margin-left: auto;
	background-color: #CCC;
	z-index: 1000;
}
.menu{
	border:none;
	border:0px;
	font-size:13px;
	height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
.menu ul{
	height:30px;
	list-style:none;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 25px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}
	.menu li{
		float:left;
		padding:0px;
		}
	.menu li a{
	color:#333;
	display:block;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	background-color: #CCC;
	background-image: url(../../pics/menu/seperator.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
		}
		.menu li a:hover, .menu ul li:hover a{
	color:#000;
	text-decoration:none;
	background-color: #999;
	background-image: url(../../pics/menu/hover.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
			}
	.menu li ul{
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	position:absolute;
	width:195px;
	z-index:1000;		/*top:1em;
		/*left:0;*/
	color: #000;
	background-image: url(../../pics/menu/navBack.png);
	background-repeat: repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: thick;
	border-left-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	font-weight: bold;
	background-color: #CCC;
		}
	.menu li:hover ul{
		display:block;
		
		}
	.menu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:195px;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
	display:block;
	height:25px;
	margin:0px;
	text-align:left;
	color: #000;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 15px;
		}
		.menu li ul a:hover, .menu li ul li:hover a{
	border:0px;
	color:#000;
	text-decoration:none;
	background-image: url(../../pics/menu/hover_sub.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #999;
			}
	.menu p{
		clear:left;
		}
/********************************************
	END OF MAIN MENU STYLES
********************************************/
