@charset "utf-8";
/* CSS Document */

/***** HEADER.CFM *****/

.smlink         		{font-size: 11px;}
.section        		{border-top: 1px solid #c6c6c6;; border-right: 2px solid #c6c6c6;border-left: 2px solid #c6c6c6;border-bottom: 0px; background: #ffffff;}
.sideborders			{border-right: 2px solid #c6c6c6;border-left: 2px solid #c6c6c6; background: #ffffff;}
.sectionFoot    		{border-bottom: 1px solid #BB9E66; background: #FAF7F1;line-height:1px;font-size:2px;}
.sectionBottomDivider 	{border-bottom: 1px solid #BB9E66; background: #FAF7F1;line-height:1px;}
.sectionTopDivider 		{border-top: 1px solid #BB9E66; background: #FAF7F1;line-height:1px;}
.sectionSubHead			{font-size:11px;font-weight:bold;}

/***** END OF HEADER.CFM *****/


/***** Default FORM *****/

.columnTitle {
	font-weight:bold;	
}

.defaultForm input { 
	border: 1px solid #; 
	/* margin-bottom: .5em; */		
}

.defaultForm select {
	border: 1px solid #CCC; 
	/* margin-bottom: .5em; */		
}

.smallField {
	width : 80px;
}

.mediumField {
	width : 140px;
}

.largeField {
	width : 200px;
}

.xLargeTextArea {
	height: 80px;
	width : 350px;
	margin-bottom: .5em;
}

.formNote {
	padding:2px 0 0 0;
	margin:0 0 0 2px;
	font-size:0.8em;
}

.displayNone {
	display:none;
}

.submitButton {
	cursor:pointer;
	width:80px;
	padding:2px;
	margin-top:15px; 
	margin-bottom: .5em; 		
	border: 1px solid #CCC; 
}

/***** END OF Default FORM *****/



/***** HOST FAMILY LEAD *****/




/***** END OF HOST FAMILY LEAD *****/


/***** PAGE MESSAGE *****/

div.pageMessages { 
	font-size:0.8em;
	display:none;
	margin: 5px auto 5px auto; 
	padding: 5px 10px; 
	background-color: #c2d9e9;
	border: #0069aa 1px solid; 
	font-family: Arial, Helvetica, sans-serif;
}

div.pageMessages p { 
	margin: 0; 
}

div.pageMessages p em { 
	color: #0069aa; 
	font-weight: bold;
}

/***** END OF PAGE MESSAGE *****/


/***** ERROR MESSAGE *****/
div.errors { 
    margin:0px auto 10px auto;
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
}

div.errorContainer label,
div.errors label { 
	color:#000;
}

div.errors p,
div.errorContainer p { 
	margin: 0; 
}

div.errors p em,
div.errorContainer p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

div.errors ol {
	list-style: none;
	text-indent:-3em;
}

/***** END OF ERROR MESSAGE *****/



/***** DEFAULT TABLE STYLE *****/

.defaultTableStyle {
	background-color:#e2efc7;  /* #c6c6c6 #EAE8E8 */
	line-height:15px;
	margin-bottom:50px;
	padding-bottom:50px;
	font-weight:bold;
}

.defaultTableStyle a {
	color:#000;
}

/***** END OF DEFAULT TABLE STYLE *****/



/***** PROJECT HELP *****/

.projectHelpNote {
	font-weight:bold;
}

.projectHelpTitle {
	background-color:#e2efc7;  /* #c6c6c6 #EAE8E8 */
	line-height:15px;
	margin-bottom:50px;
	padding-bottom:50px;
}

.projectHelpActivityTitle {
	font-weight:bold;	
}

.projectHelpReason {
	width:400px;
	height:75px;
}

.projectHelpNew {
	padding-right:50px;
}

.projectHelpAdvisor {
	font-size: 13px;
	font-weight: bold;
	background-color: #FFDDBB;
	line-height: 20px;
}

.projectHelpAreaRep {
	font-weight: bold;
	background-color: #CCCCCC;
}

input.projectHelpActivity {
	width:320px;
}

input.projectHelpHours {
	width:50px;
}

.projectHelpWArning {
	color:#F00;
	font-size:1.2em;
	padding:10px, 10px, 10px, 10px;
}

.projectHelpAttention {
	color:#F00;	
}

.projectHelpRule {
	width:80%;
	color:c6c6c6;
	height:1px;
}

/***** END OF PROJECT HELP *****/

