/* CSS Document */
/****Green Button******/
.buttonGreen {
	border-top: 1px solid #69bd45;
	background: #69bd45;
	background: -webkit-gradient(linear, left top, left bottom, from(#69bd45), to(#066e26));
	background: -webkit-linear-gradient(top, #69bd45, #066e26);
	background: -moz-linear-gradient(top, #69bd45, #066e26);
	background: -ms-linear-gradient(top, #69bd45, #066e26);
	background: -o-linear-gradient(top, #69bd45, #066e26);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
   }
.buttonGreen:hover {
	border-top-color: #066e26;
	background: #69bd45;
	color: #000;
	cursor:pointer;
   }
.buttonGreen:active {
   border-top-color: #066e26;
   background: #066e26;
   } 

/****Gray Button******/
.buttonGray {
	border-top: 1px solid #046A3A;
	background: #c9c9c9;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#8d8d8d));
	background: -webkit-linear-gradient(top, #c9c9c9, #8d8d8d);
	background: -moz-linear-gradient(top, #c9c9c9, #8d8d8d);
	background: -ms-linear-gradient(top, #c9c9c9, #8d8d8d);
	background: -o-linear-gradient(top, #c9c9c9, #8d8d8d);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
   }
.buttonGray:hover {
	border-top-color: #8d8d8d;
	background: #c9c9c9;
	color: #ccc;
	cursor:pointer;
   }
.buttonGray:active {
   border-top-color: #8d8d8d;
   background: #a6a6a6;
   }  

/****Yellow Button******/
.buttonYellow {
	border-top: 1px solid #ffde3a;
	background: lightyellow;
	background: -webkit-gradient(linear, left top, left bottom, from(lightyellow), to(gold));
	background: -webkit-linear-gradient(top, lightyellow, gold);
	background: -moz-linear-gradient(top, lightyellow, gold);
	background: -ms-linear-gradient(top, lightyellow, gold);
	background: -o-linear-gradient(top, lightyellow, gold);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: black;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
   }
.buttonYellow:hover {
	border-top-color: #ffde3a;
	background: gold;
	color: black;
	cursor:pointer;
   }
.buttonYellow:active {
   border-top-color: #ffde3a;
   background: gold;
   } 

/****Blue Button******/
.buttonBlue {
	border-top: 1px solid #046A3A;
	background: #5a81c0;
	background: -webkit-gradient(linear, left top, left bottom, from(#5a81c0), to(#035eac));
	background: -webkit-linear-gradient(top, #5a81c0, #035eac);
	background: -moz-linear-gradient(top, #5a81c0, #035eac);
	background: -ms-linear-gradient(top, #5a81c0, #035eac);
	background: -o-linear-gradient(top, #5a81c0, #035eac);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
   }
.buttonBlue:hover {
	border-top-color: #5a81c0;
	background: #5a81c0;
	color: #ccc;
	cursor:pointer;
   }
.buttonBlue:active {
   border-top-color: #5a81c0;
   background: #5a81c0;
   }  
/*****Red Button****/
.buttonRed {
	border-top: 1px solid #046A3A;
	background: #ed3d35;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed3d35), to(#9c1a1d));
	background: -webkit-linear-gradient(top, #ed3d35, #9c1a1d);
	background: -moz-linear-gradient(top, #ed3d35, #9c1a1d);
	background: -ms-linear-gradient(top, #ed3d35, #9c1a1d);
	background: -o-linear-gradient(top, #ed3d35, #9c1a1d);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
   }
.buttonRed:hover {
	border-top-color: #9c1a1d;
	background: #9c1a1d;
	color: #ccc;
	cursor:pointer;
   }
.buttonRed:active {
   border-top-color: #9c1a1d;
   background: #9c1a1d;
   }     

/****Orange Button******/
.buttonOrange {
	border-top: 1px solid #ffbe5d;
	background: #ffbe5d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffbe5d), to(#d07f06));
	background: -webkit-linear-gradient(top, #ffbe5d, #d07f06);
	background: -moz-linear-gradient(top, #ffbe5d, #d07f06);
	background: -ms-linear-gradient(top, #ffbe5d, #d07f06);
	background: -o-linear-gradient(top, #ffbe5d, #d07f06);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
   }
.buttonOrange:hover {
	border-top-color: #d07f06;
	background: #d07f06;
	color: #000;
	cursor:pointer;
   }
.buttonOrange:active {
   border-top-color: #d07f06;
   background: #d07f06;
   } 
   
/*****Smaller Button*****/
.smallerButton {
	padding: 4px;
	border-radius: 5px;
	font-size:10px;
}

