.divPageBox {
	width:100%;
	padding:0px;
	border:1px solid #CCCCCC;
}

.pageTitle {
	width:95%;
	padding:3px 0px 3px 10px;
	margin:0px 25px 0px 22px;
	background-color:#E4E4E4;
}

.tablePageTitle {
	height:25px;
	width:95%;
	color: #000000;
	font-size: 0.9em;	
	background-color: #E4E4E4;
	font-weight: bold;
	padding-left:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.fieldTitle {
	font-size: 10px;
	text-align:right;
	font-weight:bold;
	vertical-align:top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/********************************************
	FORM FIELDS
********************************************/
.rowOn {
	background-color:#e9ecf1;
}

.rowOff {
	background-color:#FFFFFF;
}

.fieldSize40 {
	width:40px;
	border:1px solid #999;	
}

.fieldSize60 {
	width:60px;
	border:1px solid #999;	
}

.fieldSize70 {
	width:70px;
	border:1px solid #999;	
}

.fieldSize100 {
	width:100px;
	border:1px solid #999;	
}

.datePicker {
	width:90px;
	border:1px solid #999;	
}

.smallField {
	width : 90px;
	border:1px solid #999;	
}

.mediumField {
	width : 150px;
	border:1px solid #999;	
}

.largeField {
	width : 200px;
	border:1px solid #999;	
}

.xLargeField {
	width : 260px;
	border:1px solid #999;	
}

.largeTextArea {
	height: 80px;
	width : 250px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.xLargeTextArea {
	height: 80px;
	width : 350px;
	margin-bottom: .5em;
	border:1px solid #999;	
}

.displayNone {
	display:none;
}
/********************************************
	END OF FORM FIELDS
********************************************/


/********************************************
	These are used in the insert/edit pages
********************************************/
.editPage { 
	display:none;
}

.hiddenField { 
	display:none;
}
/********************************************
	End of These are used in the insert/edit pages
********************************************/


/********************************************
	css for timepicker
********************************************/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div .ui_tpicker_hour div { padding-right: 2px; }
.ui-timepicker-div .ui_tpicker_minute div { padding-right: 6px; }
.ui-timepicker-div .ui_tpicker_second div { padding-right: 6px; }
.ui-timepicker-div td { font-size: 90%; }
/********************************************
	End of css for timepicker
********************************************/

