body {
	background-image: url(pics/back.gif);
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; }
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006666;
}
.style4Big {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
}
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}

.vline { BACKGROUND-IMAGE: url(pics/table-borders/left-vert-line.gif); BACKGROUND-REPEAT: repeat-y }
	.grouptopleft { BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/topleft.gif); BACKGROUND-REPEAT: no-repeat }
	.groupTop { BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/top.gif); BACKGROUND-REPEAT: repeat-x }
	.groupTopRight { BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/topright.gif); BACKGROUND-REPEAT: no-repeat }
	.groupLeft { BACKGROUND-POSITION-X: right; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/left-vert-line.gif); BACKGROUND-REPEAT: repeat-y }
	.groupRight { BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/right.gif); BACKGROUND-REPEAT: repeat-y }
	.groupBottomLeft { BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/bottomleft.gif); BACKGROUND-REPEAT: no-repeat }
	.groupBottom { BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/bottom.gif); BACKGROUND-REPEAT: repeat-x }
	.groupBottomRight { BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/bottomright.gif); BACKGROUND-REPEAT: no-repeat }
	.footer { BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/table-borders/FooterBackground.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #bf0301 }
	.errMessageGradientStyle { BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/red-error-backgradient.gif); BACKGROUND-REPEAT: repeat-x }
	.normRegistrationHeader { BACKGROUND-IMAGE: url(http://www.student-management.com/extra/internal/pics/norm-backimage.gif); BACKGROUND-REPEAT: repeat-x }
	.orangeLine { BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(../pics/orange_gradiant.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ff7e0d }
	.redLine { BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(../pics/red_background.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #000000 }
	